/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header and navigation styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

/* css for main function on home page */
.home{
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home img {
    max-width: 25%;
    height: auto;
    margin-right: 2rem;
    border-radius: 50%;
}

.home div {
    max-width: 500px;
}

/* Footer styles for everypages*/
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}
/*__________________________end of css for home page__________________________*/

/*__________________________css for about page__________________________*/
.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.container h1 {
    margin-bottom: 20px;
}

.container p {
    margin: 0 auto 20px auto;
    max-width: 600px;
    text-align: justify;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add some spacing between paragraphs and logos */
}

.logos img {
    max-width: 100px;
    margin: 0 10px;
    border-radius: 50%;
}
/*__________________________end of css for about page__________________________*/

/*__________________________css for projects page__________________________*/
.denta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto; /* Adjust margin-top and margin-bottom as needed */
}

.denta img {
    max-width: 75%; /* Adjust size as needed */
    height: auto;
    border-radius: 0; /* Remove border-radius */
}


.github-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.github-btn:hover {
    background-color: #555;
}

/*__________________________end of css for projects page__________________________*/

/*__________________________css for contact page__________________________*/
.logos_con {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo_con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; /* Adjust margin as needed */
}

.logo_con img {
    max-width: 70px;
    margin-bottom: 10px;
}

.logo_con p {
    margin: 0;
}