{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Contact</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'projects' %}">Projects</a>
            <a href="{% url 'contact' %}">Contact</a>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1>Contact me on my accounts</h1>
        </div>
        <div class="logos_con">
            <div class="logo_con">
                <img src="https://i.pinimg.com/736x/2b/dc/78/2bdc78b6c227760fca29334de506d739.jpg" alt="gmail">
                <p>202080044@psu.palawan.edu.ph</p>
            </div>
            <div class="logo_con">
                <img src="https://i.pinimg.com/736x/93/45/27/9345279f671745db0009b67ed173fdb5.jpg" alt="fb">
                <p>Justine Luis D. Elorde</p>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; Justine's Portfolio</p>
    </footer>
    
</body>
</html>