<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'projects' %}">Projects</a>
            <a href="{% url 'contact' %}">Contact</a>
        </nav>
    </header>

    <main>
        <img src="23.jpg" alt="">
        <div>
            <h1>Hi everyone!</h1>
            <h2>I'm Justine Luis D. Elorde</h2>
            <p>I'm an IT student with a thirst for knowledge and a knack for problem-solving. <br>
                Eager to dive into the world of technology, <br>
                I'm ready to learn, adapt, and innovate.</p>
        </div>
    </main>
    
</body>
</html>